.publicLinks {
  margin: 100px 0px 200px 0px;
}
.publicLinks__title {
  font-size: 20px;
  margin-bottom: 20px;
}

.publicLinks__list {
}

.publicLinks__list ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  background: rgb(255 255 255 / 0%);
  border: 1px solid rgb(255 255 255 / 21%);
}
.publicLinks__list ul li {
  border-bottom: 1px solid rgb(255 255 255 / 21%);
  line-height: 40px;
  padding: 10px;
}
.publicLinks__list ul li:hover {
  background-color: #0e0c06;
}
