.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  .absoluteshape {
    position: absolute;
    z-index: -1;
    left: -681px;
    top: 0%;
    right: 0%;
    bottom: auto;
    width: 100%;
    height: 100%;
    background-color: #090909;
    -webkit-transform: skew(-50deg, 0deg);
    -ms-transform: skew(-50deg, 0deg);
    transform: skew(-50deg, 0deg);
  }
  .title {
    font-size: 9vw;
    line-height: 0.83;
    letter-spacing: -0.1em;
    border-bottom: 1px solid var(--color-secondary);
  }
  .description {
    color: rgba(255, 255, 255, 0.7);
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
  }
}
